<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.uni_freiburg.es.intentforwarder">

    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <service android:name=".IntentForwarderService"
            android:exported="true">
        </service>

        <receiver android:name=".IntentForwarder">
            <intent-filter>
                <action android:name="android.bluetooth.adapter.action.CONNECTION_STATE_CHANGED"/>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />

                <action android:name="senserec"/>
                <action android:name="recorder_status"/>
                <action android:name="senserec_cancel"/>
                <action android:name="senserec_ready"/>
                <action android:name="senserec_steady"/>
                <action android:name="senserec_discovery"/>
                <action android:name="senserec_discovery_response"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>
