<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.uni_freiburg.es.wearforwarder">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <receiver android:name=".WearForwarder">
            <intent-filter>
                <action android:name="senserec"/>
                <action android:name="senserec_cancel"/>
                <action android:name="senserec_ready"/>
                <action android:name="senserec_steady"/>
                <action android:name="senserec_discovery"/>
                <action android:name="senserec_discovery_response"/>
                <action android:name="recorder_status"/>
                <action android:name="recorder_ask_status"/>
                <action android:name="recorder_provider_ready"/>
            </intent-filter>
        </receiver>

        <!-- this one will be started from the Recorder service -->
        <service android:name=".WearForwarderService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.MESSAGE_RECEIVED" />
                <data android:scheme="wear" android:host="*" android:pathPrefix="/senserec_wear" />
            </intent-filter>
        </service>
    </application>

</manifest>
