<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="de.uni_freiburg.es.sensorrecordingtool">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_LOGS"/>

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <!-- thanks to merger & autodiscovery for other devices-->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <!-- only required when running the testsuite
    <uses-feature
        android:name="android.hardware.type.watch" />
    -->>

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <receiver android:name=".RecorderCommands">
            <intent-filter>
                <action android:name="senserec" />
                <action android:name="senserec_cancel" />
                <action android:name="senserec_ready" />
                <action android:name="senserec_steady" />
                <action android:name="recorder_ask_status" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".autodiscovery.responder.DiscoveryResponderReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="senserec_discovery" />
            </intent-filter>
        </receiver>

        <service android:name=".Recorder" />
        <service android:name=".merger.MergeService" />
        <activity android:name=".PermissionDialog"/>

    </application>

</manifest>
